@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #302F2F;
}

/*Navbar*/
.navbar {
  background-color: transparent;
  position: absolute;
  z-index: 999;
}

.navbar-brand {
  width: auto;
}

.navbar-brand img {
  width: 30%;
}

/*Carousel*/
.carousel-item {
  height: 100vh;
}

.carousel-caption {
  bottom: 37%;
}

.carousel-caption h1 {
  font-weight: 800;
  font-size: 4.5rem;
  letter-spacing: 0.1rem;
}

.carousel-caption p {
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/*Box Señales Tránsito*/
.container-signal {
  background-color: #FAFAFA;
  padding: 8rem 18rem;
}

.container-signal h1 {
  font-weight: 800;
  text-align: center;
  margin-bottom: 4rem;
}

.box-signal img {
  width: 75%;
}

.box-signal a {
  text-decoration: none;
  text-align: center;
}

.card {
  margin: auto;
  display: flex;
  align-items: center;
  padding: 3rem 0;
  border-radius: 10px;
}
.card:hover {
  transform: scale(1.1) !important;
  transition: transform 0.2s ease-in-out !important;
}

.card-body {
  padding-bottom: 0;
}

.card-body h4 {
  font-size: 1.2rem;
  font-weight: 800;
}

.card-body p {
  margin-bottom: 0;
}

.padding-bottom {
  padding-bottom: 2.9rem;
}

.padding-bottom-02 {
  padding-bottom: 1.5rem;
}

/*Seccion Accidentes de transito*/
.box-transito {
  background-color: #D6CA01;
  padding: 5rem 4rem;
}

.box-indicador {
  width: 37%;
  font-weight: 700;
  margin: auto;
}

.box-indicador p {
  text-align: center;
  margin-bottom: 0;
  background-color: white;
  border-radius: 5px;
  padding: 0.3rem 0;
}

.box-transito h1 {
  font-weight: 800;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 1.5rem;
}

.box-transito .caption-transito {
  font-size: 1.3rem;
  text-align: center;
}

.box-transito h5 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}

.box-icon img {
  width: 35%;
  margin-bottom: 0.5rem;
}

.box-icon .text-center p {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.box-icon div {
  width: 30%;
  margin: 0 0.3rem;
}

.box-transito hr {
  margin: 3rem 0;
}

.box-transito-02 {
  margin: auto;
  padding: 0 5rem;
}

.box-transito-02 p {
  font-weight: 700;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

::-moz-placeholder {
  font-size: 0.8rem;
}

:-ms-input-placeholder {
  font-size: 0.8rem;
}

::placeholder {
  font-size: 0.8rem;
}

/*Formulario*/
.btn-send {
  background-color: #ADA400;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.8rem;
  width: 100%;
  font-weight: 600;
}
.btn-send:hover {
  background-color: #D6CA01;
}

/*Seccion Accidentes de trabajo*/
.indicador-02 {
  width: 15%;
}

.container-trabajo {
  background-color: #717171;
  padding: 8rem 0;
}

.container-trabajo h2, .caption-trabajo {
  color: white;
  text-align: center;
}

.container-trabajo h2 {
  font-weight: 800;
  font-size: 2rem;
  width: 60%;
  margin: 2rem auto 1.5rem;
  color: #D6CA01;
}

.container-trabajo h4 {
  text-align: center;
  color: white;
  margin-bottom: 2rem;
  font-weight: 600;
}

.container-trabajo hr {
  color: white;
  width: 15%;
  margin: 0 auto 3rem;
}

.box-icon-accidente {
  padding: 0 2rem;
  display: flex;
}

.box-icon-accidente div {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0.8rem;
  width: 40%;
  padding: 1rem 1rem;
  box-shadow: 3px 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.box-icon-accidente div:hover {
  transform: scale(1.1) !important;
  transition: transform 0.2s ease-in-out !important;
}

.box-icon-accidente div p {
  margin-bottom: 0;
  text-align: center;
  font-weight: 600;
}

.caption-trabajo {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  margin-top: 5rem;
}

/*Seccion Despidos*/
.box-laboral {
  background-color: #D6CA01;
  padding: 5rem 4rem;
}

.box-laboral h1 {
  font-weight: 800;
  font-size: 2.1rem;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.box-laboral .caption-transito {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 2.5rem;
  font-weight: 600;
}

.box-laboral hr {
  margin: 3rem 0;
}

.box-laboral h4 {
  font-size: 1.2rem;
  background-color: white;
  padding: 0.7rem 0.5rem;
  text-align: center;
  border-radius: 50px;
  font-weight: 600;
  width: 80%;
  margin: 3rem auto 0;
}

.box-item-laboral div {
  margin: 0.9rem 0 0.1rem 0;
  width: 50%;
}

.box-item-laboral span {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.box-item-laboral p {
  margin-bottom: 7px;
}

.mail-sent {
  margin-top: 2rem;
  background-color: #B3DA54;
  padding: 1.5rem 0;
  border-radius: 10px;
}

.mail-sent p {
  margin-bottom: 0;
}

.mail-sent-02 {
  margin: auto;
  width: 40%;
  margin-top: 2rem;
  background-color: #B3DA54;
  padding: 1.5rem 0;
  border-radius: 10px;
}

.mail-sent-02 p {
  margin-bottom: 0;
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
}

/*Quienes somos*/
.who {
  margin: 3rem 0 7rem 0;
}

.who h1 {
  font-weight: 800;
  text-align: center;
  margin-bottom: 2rem;
}

.who p {
  text-align: center;
  width: 60%;
  margin: auto;
}

.who p span {
  font-weight: 800;
}

.who img {
  width: 6%;
  margin-top: 3rem;
}

/*Botones*/
.bg-button {
  background-color: #FAFAFA;
  padding: 6rem 0;
}

.box-button {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  width: 25%;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 2rem 2rem;
  box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.1);
}
.box-button:hover {
  transform: scale(1.1) !important;
  transition: transform 0.2s ease-in-out !important;
}

.box-button a {
  text-decoration: none;
  color: #302F2F;
}
.box-button a:hover {
  color: #302F2F;
}

.box-button span {
  font-size: 2rem;
  color: #ADA400;
  margin-bottom: 0.5rem;
}

.box-button .icon-whatsapp {
  color: #1bd741;
}

.box-button h2 {
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  color: #717171;
}

.box-button p {
  margin-bottom: 0;
}

/*Footer*/
.bg-footer {
  background-color: #717171;
  padding: 2rem 0;
}

.rrss-footer {
  text-align: center;
  padding-bottom: 1rem;
}

.rrss-footer a {
  text-decoration: none;
  color: #D6CA01;
  font-size: 1.4rem;
}
.rrss-footer a:hover {
  color: #ADA400;
}

.icon-instagram {
  padding-right: 0.5rem;
}

.box-two-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-two-footer a {
  text-decoration: none;
  color: white;
}
.box-two-footer a:hover {
  color: #D6CA01;
}

.link-footer-01 {
  font-size: 0.9rem;
}

.link-footer-02 {
  font-size: 0.7rem;
  padding: 1rem 0 0;
}

/*Section Admin*/
.container-button {
  background-color: #F4F4F4;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-left: 2rem;
  justify-content: flex-start;
  align-items: center;
  height: 65vh;
}

.container-button h4 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.container-button hr {
  width: 80%;
}

.container-button .btn-download {
  background-color: #D6CA01;
  padding: 1rem 4rem;
  font-weight: 700;
  margin-top: 1rem;
}
.container-button .btn-download:hover {
  background-color: #ADA400;
  border: none;
  color: white;
}