@import "variables-mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 450px) {
  .carousel-item{
    height: auto;
  }
  .carousel-caption{
    bottom: 50%;
    right: 10%;
    left: 10%;
  }
  .carousel-caption h1{
    font-size: 3.5rem;
  }
  .carousel-caption p{
    font-size: 1rem;
  }


  /*Quienes Somos*/
  .who{
    margin: 0 0 4rem 0;
    padding: 0;
  }
  .who p{
    width: 90%;
  }
  .who img{
    width: 25%;
    margin-bottom: 1rem;
  }

  /*Señales*/
  .container-signal{
    padding: 5rem 0;
  }
  .container-signal h1{
    font-size: 1.8rem;
  }
  .card{
    margin-bottom: 1rem;
  }

  /*Section Accidente de Transito*/
  .box-transito{
    padding: 6rem .5rem;
  }
  .box-transito h1{
    font-size: 2.5rem;
  }
  .box-indicador{
    width: 90%;
  }
  .box-transito-02{
    padding: 4rem .5rem;
  }
  .box-icon{
    flex-direction: column;
  }
  .box-icon div{
    width: 90%;
    margin: .7rem auto;
  }
  .box-icon .text-center p{
    width: 80%;
    margin: auto;
  }

  /*Section Accidente de Trabajo*/
  .container-trabajo{
    padding: 6rem .5rem;
  }
  .container-trabajo h2{
    width: auto;
    font-size: 1.5rem;
  }
  .box-icon-accidente{
    flex-wrap: wrap;
  }
  .box-icon-accidente div{
    width: 90%;
    margin: 1rem auto;
  }

  /*Section Despido*/
  .box-laboral{
    padding: 7rem .5rem;
  }
  .box-laboral h1{
    font-size: 1.5rem;
    padding: 0 0.5rem;
  }
  .reverse{
    flex-direction: column-reverse;
  }
  .box-item-laboral div{
    width: 47%;
  }

  /*Botones*/
  .box-flex-button{
    flex-direction: column;
  }
  .box-button{
    width: auto;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 760px) {
  .img-carousel-mobile{
    width: auto !important;
  }
  .btn-contact{
    width: 80%;
  }
  .box-problem h1, .box-problem p,.box-honorarios h1,.box-honorarios p, .box-click h1, .box-card-accidente .title-card-accidente{
    width: 90%;
  }
  .box-container-text{
    margin: 1rem 0;
  }
  .custom-popover{
    --bs-popover-max-width: 500px;
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: 2rem;
  }
  .box-click img{
    width: 12%;
  }
  .box-check-text{
    margin-bottom: 2rem;
  }
  .container-form-accidente{
    padding: 0 1rem;
  }
}
@media screen and (max-width:992px){
  .navbar-brand{
    width: 40%;
  }
  .nav-link, .nav-link.active{
    text-align: end;
  }
}

@media screen and (min-width: 451px) and (max-width: 600px) {
  .carousel-item{
    height: auto;
  }
  .carousel-caption{
    bottom: 50%;
    right: 10%;
    left: 10%;
  }
  .carousel-caption h1{
    font-size: 4rem;
  }
  .carousel-caption p{
    font-size: 1rem;
  }
  .carousel-item img{
    height: 100%;
  }

  /*Quienes Somos*/
  .who{
    margin: 0 0 4rem 0;
    padding: 0;
  }
  .who p{
    width: 90%;
  }
  .who img{
    width: 25%;
    margin-bottom: 1rem;
  }

  /*Señales*/
  .container-signal{
    padding: 5rem 0;
  }
  .container-signal h1{
    font-size: 1.8rem;
  }
  .card{
    margin-bottom: 1rem;
  }

  /*Section Accidente de Transito*/
  .box-transito{
    padding: 6rem .5rem;
  }
  .box-transito h1{
    font-size: 2.5rem;
  }
  .box-indicador{
    width: 90%;
  }
  .box-transito-02{
    padding: 4rem .5rem;
  }
  .box-transito h5{
    width: 90%;
    margin: 0 auto 1rem;
  }
  .box-icon{
    flex-direction: column;
  }
  .box-icon div{
    width: 90%;
    margin: .7rem auto;
  }
  .box-icon .text-center p{
    width: 80%;
    margin: auto;
  }

  /*Section Accidente de Trabajo*/
  .container-trabajo{
    padding: 6rem .5rem;
  }
  .container-trabajo h2{
    width: auto;
    font-size: 1.5rem;
  }
  .box-icon-accidente{
    flex-wrap: wrap;
  }
  .box-icon-accidente div{
    width: 90%;
    margin: 1rem auto;
  }

  /*Section Despido*/
  .box-laboral{
    padding: 7rem .5rem;
  }
  .box-laboral h1{
    font-size: 1.5rem;
    padding: 0 0.5rem;
  }
  .reverse{
    flex-direction: column-reverse;
  }
  .box-item-laboral div{
    width: 47%;
  }

  /*Botones*/
  .box-flex-button{
    flex-direction: column;
  }
  .box-button{
    width: auto;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 767px) {
  .carousel-caption{
    right: 10%;
    left: 10%;
  }
  .carousel-caption h1{
    font-size: 3rem;
  }
  .carousel-caption p{
    font-size: 1rem;
  }
  .carousel-item img{
    height: 100%;
    width: 100%;
  }
   /*Quienes Somos*/
   .who{
    margin: 0 0 4rem 0;
    padding: 0;
  }
  .who p{
    width: 90%;
  }
  .who img{
    width: 20%;
    margin-bottom: 1rem;
  }

  /*Señales*/
  .container-signal{
    padding: 5rem 0;
  }
  .container-signal h1{
    font-size: 1.8rem;
  }
  .card{
    margin-bottom: 1rem;
  }

  /*Section Accidente de Transito*/
  .box-transito{
    padding: 6rem .5rem;
  }
  .box-transito h1{
    font-size: 2.5rem;
  }
  .box-indicador{
    width: 90%;
  }
  .box-transito-02{
    padding: 4rem .5rem;
  }
  .box-transito h5{
    width: 90%;
    margin: 0 auto 1rem;
  }
  .box-icon{
    flex-direction: column;
  }
  .box-icon div{
    width: 90%;
    margin: .7rem auto;
  }
  .box-icon .text-center p{
    width: 80%;
    margin: auto;
  }

  /*Section Accidente de Trabajo*/
  .container-trabajo{
    padding: 6rem .5rem;
  }
  .container-trabajo h2{
    width: auto;
    font-size: 1.5rem;
  }
  .box-icon-accidente{
    flex-wrap: wrap;
  }
  .box-icon-accidente div{
    width: 90%;
    margin: 1rem auto;
  }

  /*Section Despido*/
  .box-laboral{
    padding: 7rem .5rem;
  }
  .box-laboral h1{
    font-size: 1.5rem;
    padding: 0 0.5rem;
  }
  .reverse{
    flex-direction: column-reverse;
  }
  .box-item-laboral div{
    width: 47%;
  }

  /*Botones*/
  .box-flex-button{
    flex-direction: column;
  }
  .box-button{
    width: auto;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1500px) {
  .carousel-item{
    height: auto;
  }
  .carousel-caption{
    bottom: 25%;
    right: 10%;
    left: 10%;
  }
  .carousel-caption h1{
    font-size: 3rem;
  }
  .carousel-caption p{
    font-size: 1rem;
  }
  .carousel-item img{
    height: auto;
    width: 100%;
  }

  /*Señales*/
  .container-signal{
    padding: 5rem 0;
  }
  .container-signal h1{
    font-size: 2rem;
  }
  .card{
    margin-bottom: 1rem;
  }
  .box-icon img{
    width: 15%;
  }

  /*Section Accidente de Transito*/
   .box-transito{
    padding: 6rem .5rem;
  }
  .box-transito h1{
    font-size: 2.5rem;
  }
  .box-indicador{
    width: 70%;
  }
  .box-transito-02{
    padding: 4rem .5rem;
  }
  .box-icon img{
    width: 45%;
  }

  /*Section Accidente de Trabajo*/
  .container-trabajo h2{
    width: auto;
  }
  /*Section Despido*/
  .box-laboral{
    padding: 12rem 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  /*Botones*/
  .box-flex-button{
    flex-direction: column;
  }
  .box-button{
    width: auto;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 901px) and (max-width: 1300px) {
  .box-button{
    width: auto;
    margin-bottom: 1rem;
  }
}