@import "variables-mixins";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot") format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.ttf") format("truetype"),
    url("../fonts/icomoon/icomoon.woff") format("woff"),
    url("../fonts/icomoon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: $colour-dark;
}
/*Navbar*/
.navbar{
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: 999;
  width: 100%;
  padding: 1rem 2.5rem;;
}
.navbar-brand{
  width: 15%;
}
.navbar-brand img{
  width: 30%;
}
.nav-link, .nav-link.active{
  color: white !important;
}
.navbar-collapse{
  justify-content: flex-end;
  flex-grow: 0;
}
.nav-link:hover{
  font-weight: 600;
}
.navbar-toggler{
  background-color: rgba(255,255,255,0.8);
}

/*Carousel*/
.carousel-item{
  height: 100vh;
}
.carousel-item img{
  width: 100%;
}
.carousel-caption{
  bottom: 37%;
}
.carousel-caption h1{
  font-weight: 800;
  font-size: 4.5rem;
  letter-spacing: .1rem;
}
.carousel-caption p{
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
}
.carousel-indicators [data-bs-target]{
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/*Box Señales Tránsito*/
.container-signal{
  background-color: #FAFAFA;
  padding: 8rem 18rem;
}
.container-signal h1{
  font-weight: 800;
  text-align: center;
  margin-bottom: 4rem;
}
.box-signal img{
  width: 75%;
}
.box-signal a{
  text-decoration: none;
  text-align: center;
}
.card-signal{
  margin: auto;
  display: flex;align-items: center;
  padding: 3rem 0;
  border-radius: 10px;
  &:hover{
    transform: scale(1.1) !important;
    transition: transform 0.2s ease-in-out !important;
  }
}
.card-body{
  padding-bottom: 0;
}
.card-body h4{
  font-size: 1.2rem;
  font-weight: 800;
}
.card-body p{
  margin-bottom: 0;
}
.padding-bottom{
  padding-bottom: 2.9rem;
}
.padding-bottom-02{
  padding-bottom: 1.5rem;
}

/*Seccion Accidentes de transito*/
.box-transito{
  background-color: $colour-yellow;
  padding: 5rem 4rem;
}
.box-indicador{
  width: 37%;
  font-weight: 700;
  margin: auto;
}
.box-indicador p{
  text-align: center;
  margin-bottom: 0;
  background-color: white;
  border-radius: 5px;
  padding: .3rem 0;
}
.box-transito h1{
  font-weight: 800;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 1.5rem;
}
.box-transito .caption-transito{
  font-size: 1.3rem;
  text-align: center;
}
.box-transito h5{
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}
.box-icon img{
  width: 35%;
  margin-bottom: .5rem;
}
.box-icon .text-center p{
  font-size: .9rem;
  margin-bottom: 2rem;
}
.box-icon div{
  width: 30%;
  margin: 0 .3rem;
}
.box-transito hr{
  margin:  3rem 0;
}
.box-transito-02{
  margin: auto;
  padding: 0 5rem;
}
.box-transito-02 p{
  font-weight: 700;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}
::placeholder{
  font-size: .8rem;
}

/*Formulario*/
.btn-send{
  background-color: $colour-dark-yellow;
  color: white;
  border: none;
  border-radius: 5px;
  padding: .8rem;
  width: 100%;
  font-weight: 600;
  &:hover{
    background-color: $colour-yellow;
  }
}

/*Seccion Accidentes de trabajo*/
.indicador-02{
  width: 15%;
}
.container-trabajo{
  background-color: $colour-dark-grey;
  padding: 8rem 0;
}
.container-trabajo h2, .caption-trabajo{
  color: white;
  text-align: center;
}
.container-trabajo h2{
  font-weight: 800;
  font-size: 2rem;
  width: 60%;
  margin: 2rem auto 1.5rem;
  color: $colour-yellow;
}
.container-trabajo h4{
  text-align: center;
  color: white;
  margin-bottom: 2rem;
  font-weight: 600;
}
.container-trabajo hr{
  color: white;
  width: 15%;
  margin: 0 auto 3rem;
}
.box-icon-accidente{
  padding: 0 2rem;
  display: flex;
}
.box-icon-accidente div{
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 .8rem;
  width: 40%;
  padding: 1rem 1rem;
  box-shadow: 3px 0px 5px 5px rgba(0,0,0,0.1);
  &:hover{
    transform: scale(1.1) !important;
    transition: transform 0.2s ease-in-out !important;
  }
}
.box-icon-accidente div p{
  margin-bottom: 0;
  text-align: center;
  font-weight: 600;

}
.caption-trabajo{
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  margin-top: 5rem;
}

/*Seccion Despidos*/
.box-laboral{
  background-color: $colour-yellow;
  padding: 5rem 4rem;
}
.box-laboral h1{
  font-weight: 800;
  font-size: 2.1rem;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.box-laboral .caption-transito{
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 2.5rem;
  font-weight: 600;
}
.box-laboral hr{
  margin: 3rem 0;
}
.box-laboral h4{
  font-size: 1.2rem;
  background-color: white;
  padding: .7rem .5rem;
  text-align: center;
  border-radius: 50px;
  font-weight: 600;
  width: 80%;
  margin: 3rem auto 0;
}
.box-item-laboral div{
  margin: .9rem 0 .1rem 0;
  width: 50%;
}
.box-item-laboral span{
  font-size: 1.5rem;
  margin-bottom: .5rem;
  margin-right: .5rem;
}
.box-item-laboral p{
  margin-bottom: 7px;
}

.mail-sent{
  margin-top: 2rem;
  background-color: #B3DA54;
  padding: 1.5rem 0;
  border-radius: 10px;
}
.mail-sent p{
  margin-bottom: 0;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
}
.mail-sent-02{
  margin: auto;
  width: 40%;
  margin-top: 2rem;
  background-color: #B3DA54;
  padding: 1.5rem 0;
  border-radius: 10px;
}
.mail-sent-02 p{
  margin-bottom: 0;
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
}

/*Quienes somos*/
.who{
  margin: 3rem 0 7rem 0;
}
.who h1{
  font-weight: 800;
  text-align: center;
  margin-bottom: 2rem;
}
.who p{
  text-align: center;
  width: 60%;
  margin: auto;
}
.who p span{
  font-weight: 800;
}
.who img{
  width: 6%;
  margin-top: 3rem;
}

/*Botones*/
.bg-button{
  background-color: #FAFAFA;
  padding: 6rem 0;
}
.box-button{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  width: 25%;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 2rem 2rem;
  box-shadow: 3px 3px 6px 3px rgba(0,0,0,0.1);
  &:hover{
    transform: scale(1.1) !important;
    transition: transform 0.2s ease-in-out !important;
  }
}
.box-button a{
  text-decoration: none;
  color: $colour-dark;
  &:hover{
    color: $colour-dark;
  }
}
.box-button span{
  font-size: 2rem;
  color: $colour-dark-yellow;
  margin-bottom: .5rem;
}
.box-button .icon-whatsapp{
  color: #1bd741;
}
.box-button h2{
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: .5rem;
  color: $colour-dark-grey;
}
.box-button p{
  margin-bottom: 0;
}




/*Footer*/
.bg-footer{
  background-color: $colour-dark-grey;
  padding: 2rem 0;
}
.rrss-footer{
  text-align: center;
  padding-bottom: 1rem;
}
.rrss-footer a{
  text-decoration: none;
  color: $colour-yellow;
  font-size: 1.4rem;
  &:hover{
    color: $colour-dark-yellow;
  }
}
.icon-instagram{
  padding-right: .5rem;
}
.box-two-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-two-footer a{
  text-decoration: none;
  color: white;
  &:hover{
    color: $colour-yellow;
  }
}
.link-footer-01{
  font-size: .9rem;
}
.link-footer-02{
  font-size: .7rem;
  padding: 1rem 0 0;
}


/*Section Admin*/
.container-button{
  background-color: #F4F4F4;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-left: 2rem;
  justify-content: flex-start;
  align-items: center;
  height: 65vh;
}
.container-button h4{
  font-size: 1rem;
  margin-bottom: 1rem;
}
.container-button hr{
  width: 80%;
}
.container-button .btn-download{
  background-color: $colour-yellow;
  padding: 1rem 4rem;
  font-weight: 700;
  margin-top: 1rem;
  &:hover{
    background-color: $colour-dark-yellow;
    border: none;
    color: white;
  }
}



/*--------------Accidentes de Transito---------------*/
.img-accidente{
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
}
.center-container {
  position: relative;
  height: 100vh;
}
.text-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.text-container h1{
  font-weight: 800;
  font-size: 4.5rem;
} 
.text-container p{
  font-weight: 600;
  font-size: 1.6rem;
}

.box-problem{
  text-align: center;
  color: #302F2F;
  padding: 13rem 0;
  background-color: #FAFAFA;
}
.box-problem h1{
  font-weight: 800;
  width: 50%;
  margin: auto;
  margin-bottom: 2rem;
}
.box-problem p{
  font-size: 1rem;
  width: 55%;
  margin: auto;
  margin-bottom: 2rem;
}
.text-bold{
  font-weight: 800;
}
.btn-contact{
  background-color: $colour-dark-yellow;
  color: white;
  border: none;
  border-radius: 5px;
  padding: .8rem;
  width: 30%;
  font-weight: 600;
  &:hover{
    background-color: $colour-yellow;
  }
}
.bg-banner-money{
  background-image: url(../img/banner-dinero.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 4rem 0;
}
.bg-banner-money .col-12 img{
  width: 20%;
  margin-bottom: 1.5rem;
}
.bg-banner-money .col-12 p{
  font-size: 1.5rem;
}

/*-----------Button Whatsapp-----------*/
.btn-wsp{
  position: fixed;
  width: 75px;
  height: 75px;
  line-height: 79px;
  bottom: 30px;
  right: 30px;
  background-color: #0df053;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.3);
  text-decoration: none;
  z-index: 100;
  cursor: pointer;
  animation: 5s infinite beat;
  &:hover{
    background-color: white;
    color: #0df053;
  }
}
.btn-wsp i{
  color: white;
  padding: 1.4rem;
  &:hover{
    color: #0df053;
  }
}

@keyframes beat{
  0%{
    transform: scale(1);
  }
  10%{
    transform: scale(1.1);
  }
  20%{
    transform: scale(1);
  }
  30%{
    transform: scale(1.1);
  }
  40%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  60%{
    transform: scale(1);
  }
  70%{
    transform: scale(1.1);
  }
  80%{
    transform: scale(1);
  }
  90%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

.box-servicios{
  background-color: #D6CA01;
  padding: 13rem 0;
}
.box-servicios .row h1{
  text-align: center;
  font-weight: 800;
  margin-bottom: 4rem;
}
.box-container-text{
  background-color: white;
  border-radius: 15px;
  text-align: center;
  padding: 4rem 3rem;
  font-size: 1.5rem;
  margin: 0 .5rem;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  &:hover{
    transform: scale(1.1) !important;
    transition: transform 0.5s ease-in-out;
  }
}
.box-container-text a{
  border: 1px solid black;
  font-size: 1rem;
  &:hover{
    background-color: rgba(0,0,0,0.05);
  }
}
.box-asesoria{
  padding: 5.2rem 3rem;
}
.box-honorarios{
  text-align: center;
  color: #302F2F;
  padding: 13rem 0;
}
.box-honorarios h1{
  font-weight: 800;
  width: 50%;
  margin: auto;
  margin-bottom: 2rem;
}
.box-honorarios p{
  font-size: 1.2rem;
  width: 55%;
  margin: auto;
  margin-bottom: 2rem;
}
.box-cards-select{
  background-color: $colour-dark-grey;
  padding: 13rem 0;
}
.box-cards-select h1{
  font-weight: 800;
  color: white;
  text-align: center;
  margin-bottom: 4rem;
}
.card-select{
  border: none;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  width: 20rem !important;
}
.card-body-select{
  padding: 3rem 1.5rem;
}
.card-body-select .card-title{
  font-weight: 800;
}
.box-click{
  padding: 13rem 0;
}
.box-click img{
  width: 5%;
  margin-bottom: 2rem;
}
.box-click h1{
  font-weight: 800;
  margin: 0 auto 3rem;
  width: 50%;
}
.box-card-accidente{
  background-color: $colour-yellow;
  padding: 13rem 0;
}
.box-card-accidente .title-card-accidente{
  font-weight: 800;
  text-align: center;
  width: 60%;
  margin: 0 auto 2rem;
}
.box-card-accidente .text-subtitle{
  font-size: 1.3rem;
  margin-bottom: 5rem;
}
.child-box-accidente{
  background-color: white;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: left;
  padding: 5rem 3rem;
}
.child-box-accidente img{
  width: 18%;
  margin-bottom: 1rem;
}
.child-box-accidente h1{
  font-weight: 800;
  margin-bottom: 1rem;
}
.child-box-accidente p{
  font-size: 1.2rem;
}

.container-section-form{
  padding: 13rem 0;
}
.container-section-form h1{
  font-weight: 800;
  font-size: 3rem;
  text-align: center;
  margin-bottom: .5rem;
}
.check{
  margin-right: .5rem;
}
.container-form-accidente{
  padding: 0 5rem;
}
.container-form-accidente a{
  text-decoration: none;
}
